[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.24"
environs = "==5.2.1"
dj-database-url = "==0.5.0"
django-phonenumber-field = {version = "==6.0", extras = ["phonenumberslite"]}

[dev-packages]

[requires]
python_version = "3.11"
